# Python Cache (Ignoriert ALLES was mit pycache zu tun hat)
__pycache__/
*.py[cod]
*$py.class

# IDEs & OS
.idea/
.vscode/
.DS_Store

# Environments & ML
.env
.venv/
venv/
*.pth
.pt
logs/*.txt
training_system/checkpoints/*.pt

# Python egg-info (Lokale Paket-Metadaten)
*.egg-info/

training_system/checkpoints/training_metrics.csv

#Lokale Hilfsprogramme
logs/visuals.py
src/connect4/tools/wss_ping.py
